<h3>Cart Info</h3>
<div class="container table-responsive" *ngIf="items.length > 0">
  <table class="table tbl-cart">
    <tr>
      <th></th>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Sub Total</th>
    </tr>
    <tr *ngFor="let item of items">
      <td>
        <button class="btn btn-remove-cart btn-danger" (click)="remove(item.car.vehicleId == undefined ? '' : item.car.vehicleId.toString())">Remove from Cart</button>
      </td>
      <td>{{item.car.make}}</td>
      <td>{{item.car.price}}</td>
      <td>{{item.quantity}}</td>
      <td>{{item.car.price * item.quantity}}</td>
    </tr>
    <tr>
      <td colspan="4">Total</td>
      <td>{{total.toFixed(2)}}</td>
    </tr>
  </table>
</div>
<div class="row mt-4" *ngIf="items.length==0">
  <div class="col-sm-12">
    <div class="well">No items in cart.</div>
  </div>
</div>
<div class="row mt-1">
  <div class="col-sm-12">
    <a [routerLink]="['/cars']" class="btn btn-primary">
     Back
    </a>
  </div>
</div>